
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: white;
}

form {
    margin: auto;
    background-color: rgb(226, 111, 230);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.842);
    padding: 20px;
    max-width: 600px;
    border: solid rgb(226, 20, 192);
}
@keyframes colorBounce {
    0% { color: #d003eb; transform: translateY(0); }
    50% { color: #48dbfb; transform: translateY(-20px); }
    100% { color: #f761d6; transform: translateY(0); }
}

h1 {
    text-align: center;
    color: black;
    font-size: 43px;
}

fieldset {
    border: 2px solid rgb(195, 33, 201);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(226, 166, 223);
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgb(34, 29, 29);
    font-size: 23px;
}

label {
    display: block;
    margin-top: 10px;
    color: black;
    font-size: 18px;

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid rgb(110, 3, 114);
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: rgb(215, 151, 231);
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: rgb(243, 12, 120);
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(188, 123, 214);
    border-radius: 8px;
    background-color: rgb(226, 111, 230);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    border: solid rgb(226, 20, 192);
    /* Making the resume editable*/
    outline: none;
}

#resume-display h2 {
    color: rgb(0, 0, 0);
}
